<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.server.mappers.UserMapper">

    <select id="findByUsername" parameterType="string" resultType="User">
        SELECT id, username, hash, salt, role
        FROM users
        WHERE username = #{username}
    </select>

    <select id="findById" parameterType="int" resultType="User">
        SELECT id, username, hash, salt, role
        FROM users
        WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, hash, salt, role)
        VALUES (#{username}, #{hash}, #{salt}, #{role})
    </insert>

    <select id="findAll" resultType="User">
        SELECT id, username, role
        FROM users
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE users
        SET username = #{username},
            hash     = #{hash},
            salt     = #{salt},
            role     = #{role}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE
        FROM users
        WHERE id = #{id}
    </delete>

    <select id="listEmployees" resultType="map">
        SELECT id, username
        FROM users
        WHERE role = 'EMPLOYEE'
    </select>

    <select id="usernameById" parameterType="int" resultType="string">
        SELECT username
        FROM users
        WHERE id = #{id}
    </select>

</mapper>